/*****      GLOBAL STYLES - MAIN STYLES      *****/

@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Roboto';


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a,
a:hover,
a:active,
a:visited,
a:link {
    color: inherit;
    text-decoration: none;
    /* no underline */
}

.container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/*****      END GLOBAL STYLES       *****/


/*****      SECTION GLOBAL STYLES - MAIN STYLES      *****/

video#bgvid {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

.section-img {
    height: 60vh;
}

.section-img-title {
    padding-top: 25vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 82px !important;
    text-align: center;
    color: white;
}

.section-wrapper {
    /*height: 120vh;*/
}

.section-img-title {
    font-size: 2.5em;
    font-weight: 900;
}

.section-content {
    margin-bottom: 20vh;
    margin-top: 20vh;
    font-size: 1.4em;
    font-weight: 400;
}

.clear-fix {
    clear: both;
}


/*****      GENERIC SECTION GLOBAL STYLES - MAIN STYLES      *****/

#overlay-logo-img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#top-section {
    height: 100vh;
}

#top-logo-section {
    height: 20vh;
}

#top-logo-section img {
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 15vh;
}

#first-section {
    background-image: url('../img/contentslides/o_mountains.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#second-section-content {
    margin-top: 10vh !important;
}

#second-section {
    background-image: url('../img/contentslides/o_alaska_ice.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#third-section {
    background-image: url('../img/contentslides/o_open_range.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#fourth-section {
    background-image: url('../img/contentslides/o_green.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
